{%if lecture_box == null%}
    <form action="{%url 'timetable:search'%}" method="get" accept-charset="utf-8">
      <input type="hidden" name="timetable_id" value="{{timetable.id}}">
      <input type="hidden" name="time" value="{{time}}">
      <input type="hidden" name="day" value="{{day}}">
      <div class="text-center">
        <button type="submit" class="btn-outline-primary btn-block btn-sm">Add</button>
      </div>

    </form>
{%else%}
  <a href="{{lecture_box.get_absolute_url}}"><p>{{lecture_box.title}}</p></a>
    <form action="{%url 'timetable:search'%}" method="get" accept-charset="utf-8">
      <input type="hidden" name="timetable_id" value="{{timetable.id}}">
      <input type="hidden" name="time" value="{{time}}">
      <input type="hidden" name="day" value="{{day}}">
      <div class="text-center">
        <button type="submit" class="btn-outline-success btn-block btn-sm">Change</button>
      </div>
    </form>
    <form action="{%url 'timetable:delete'%}" method="get" accept-charset="utf-8">
      <input type="hidden" name="timetable_id" value="{{timetable.id}}">
      <input type="hidden" name="time" value="{{time}}">
      <input type="hidden" name="day" value="{{day}}">
      <div class="text-center">
        <button type="submit" class="btn-outline-danger btn-block btn-sm">Delete</button>
      </div>

    </form>
{%endif%}
