<div class="col-md-4">
    <div class="form-group">
        <label for="single-select">曜日</label>
        <select id="single-select" name="day" class="form-control">
            <option value="" selected="">---------</option>
            <option value="1">月曜日</option>
            <option value="2">火曜日</option>
            <option value="3">水曜日</option>
            <option value="4">木曜日</option>
            <option value="5">金曜日</option>
        </select>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="single-select">時限</label>
        <select id="single-select" name="time" class="form-control">
            <option value="" selected="">---------</option>
            <option value="1">1限目</option>
            <option value="2">2限目</option>
            <option value="3">3限目</option>
            <option value="4">4限目</option>
            <option value="5">5限目</option>
        </select>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="single-select">講義の種類</label>
        <select id="single-select" name="lecture_type" class="form-control">
          <option value="" selected="">---------</option>
            <option value="基礎セミナー">基礎セミナー</option>
            <option value="言語文化Ⅰ">言語文化Ⅰ</option>
            <option value="言語文化Ⅱ">言語文化Ⅱ</option>
            <option value="言語文化Ⅲ">言語文化Ⅲ</option>
            <option value="健康・スポーツ科学">健康・スポーツ科学</option>
            <option value="文系基礎科目">文系基礎科目</option>
            <option value="理系基礎科目（文系）">理系基礎科目（文系）</option>
            <option value="理系基礎科目（理系）">理系基礎科目（理系）</option>
            <option value="文系教養科目">文系教養科目</option>
            <option value="理系教養科目">理系教養科目</option>
            <option value="全学教養科目">全学教養科目</option>
            <option value="開放科目">開放科目</option>
            <option value="文学部専門">文学部専門</option>
            <option value="教育学部専門">教育学部専門</option>
            <option value="経済学部専門">経済学部専門</option>
            <option value="情報学部専門">情報学部専門/情報文化学部専門</option>
            <option value="理学部専門">理学部専門</option>
            <option value="医学部専門">医学部専門</option>
            <option value="工学部専門">工学部専門</option>
            <option value="農学部専門">農学部専門</option>
        </select>
    </div>
</div>
